/* colors */
.beige {
  background-color: #ffd9b3;
}
.black {
  background-color: black;
}

/* page alignment */
.align-space {
  justify-content: space-between;
}

.grid-center {
  display: flex;
  flex-direction: column;
  height: 720px;
}

.justify {
  text-align: justify;
}

.text-end {
  text-align: end;
}

/* home page */
.header {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-size: 955px;
  text-align: center;
}

.logo {
  background: linear-gradient(rgba(74, 170, 165, 0.5), rgba(74, 170, 165, 0.5)),
    url("./../img/playstation-pattern.png");
  color: white;
  font-family: "Georgia", Times, "Times New Roman", serif;
  place-content: center;
}

.title {
  color: #4aaaa5;
  font-size: 50px;
  padding-top: 40px;
  text-align: center;
}

.subheader {
  align-self: center;
  border-bottom: solid gray 2px;
  color: gray;
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-size: 20px;
  margin: 20px 0px;
  max-width: 960px;
  text-align: center;
}

/* navigation bar */
.link {
  color: white;
  text-decoration: none;
}

.navbar {
  align-self: center;
  border: 2px solid lightsteelblue;
  border-radius: 10px;
  flex-direction: column;
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 1;
}

/* index content */
.image {
  align-content: center;
  padding: 0px 10px 0px 10px;
  width: 225px;
}

.section-content {
  align-self: center;
  max-width: 960px;
}

/* portfolio content */
.image-label {
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  bottom: 12px;
  left: 10px;
  text-align: center;
  width: 200px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-image {
  height: 200px;
  width: 200px;
}

/* contact content */
.contactbody {
  width: 575px;
  text-align-last: center;
  align-self: center;
}

/* responsive styles */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .align-space {
    justify-content: center;
    margin: 5px;
  }
  .btn-block {
    width: 25%;
  }

  .col-sm-4 {
    max-width: 100%;
    text-align: center;
  }
  .header {
    font-size: 50px;
  }
  .index {
    display: flex;
    flex-direction: column;
    height: 1075px;
  }
  .image {
    padding: 10px;
  }
  .image-label {
    background-color: #4aaaa5;
    bottom: 12px;
    color: #ffffff;
    font-size: 24px;
    left: 15px;
    position: absolute;
    text-align: center;
    width: 135px;
  }

  .navbar {
    align-self: center;
    border-bottom: 2px solid lightsteelblue;
    border-radius: 5px;
    flex-direction: row;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
  }

  .portfolio-image {
    display: inline-block;
    height: 135px;
    margin: 5px;
    position: relative;
    width: 135px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .align-space {
    justify-content: center;
    margin: 5px;
  }
  .col-sm-4 {
    max-width: 100%;
    text-align: center;
  }
  .header {
    font-size: 50px;
  }
  .index {
    display: flex;
    flex-direction: column;
    height: 1075px;
  }
  .image {
    padding: 10px;
  }
  .image-label {
    background-color: #4aaaa5;
    bottom: 12px;
    color: #ffffff;
    font-size: 24px;
    left: 15px;
    position: absolute;
    text-align: center;
    width: 135px;
  }

  .navbar {
    align-self: center;
    border-bottom: 2px solid lightsteelblue;
    border-radius: 5px;
    flex-direction: row;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
  }

  .portfolio-image {
    display: inline-block;
    height: 135px;
    margin: 5px;
    position: relative;
    width: 135px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    font-size: 75px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header {
    font-size: 95px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header {
    font-size: 95px;
  }
}
