/* body */
.grid-center {
  display: flex;
  flex-direction: column;
  height: 720px;
}
.align-space {
  justify-content: space-between;
}

.text-end {
  text-align: end;
}

.justify {
  text-align: justify;
}

/* colors */
.color-1 {
  background-color: #ffd9b3;
}

/* header */
.header {
  text-align: center;
  border-bottom: solid 0.05px gray;
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-size: 20px;
  margin: 20px 0px;
  padding-bottom: 15px;
}

.title {
  color: #4aaaa5;
  font-size: 50px;
  padding-top: 40px;
}

.header-text {
  width: 960px;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: #4aaaa5;
  color: white;
  font-size: 40px;
  font-family: "Georgia", Times, "Times New Roman", serif;
  padding: 6px 24px;
}

/* header - navigation bar */
.navbar {
  align-self: center;
}

.link {
  color: gray;
  margin: 3px;
  padding: 6px 12px;
  text-decoration: none;
}

/* index content */
.image {
  align-content: center;
  padding: 0px 10px 0px 10px;
  width: 225px;
}

.header {
}

.section-main {
  background-image: url("./../img/mooning.png");
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 24px;
}

.section-content {
  align-self: center;
  max-width: 960px;
}

/* portfolio content */
.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-image {
  height: 200px;
  width: 200px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-label {
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  bottom: 12px;
  left: 0;
  text-align: center;
  width: 100%;
}

/* contact content */
.contact {
  background-color: #4aaaa5;
}

#text {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 0px 16px 0px;
}

/* responsive styles */
@media (min-width: 1024px) and (max-width: 1399) {
  .logo {
    font-size: 96px;
  }
}
